*{
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

html,body{
    background: url(./logos/los-santos-gta-v-city-view-92.jpg) no-repeat center
    center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    visibility: hidden;
    height: 30px;
}

.navbar{
    position: sticky;
    top: 0px;
    background-color: rgba(251, 216, 88, 0.3);
    z-index: 100000;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    width: 100%;
    height: 150px;
}

.btnwall{
    position: relative;
    top: 150px;
}
.btn-style{
    background-image: linear-gradient(to bottom right, #fbd858 20%, #af293d 90%);
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(50, 33, 69);
    box-shadow: 0 0 30px rgb(190, 35, 123);
    border-radius: 25px;
    width: 330px;
    height: 84px;
    border-color: rgb(50, 33, 69);
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.btn-style:hover {
    background-position: right center;
    color: #fff;
    box-shadow: 0 0 50px white;
    text-decoration: none;
    border-color: white;
}

.btn-right{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    border-radius: 25px 0 0 25px;
    border: 2px solid;
    border-right:0;
    width: 60px;
    height: 70px;
    box-shadow: none;
    opacity: 0.8;
    
}
.btn-right:hover{
    width: 200px;
    transition: all 0.7s ease-in;
    
}
.btn-left{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0 25px 25px 0;
    border: 2px solid;
    border-left: 0;
    width: 60px;
    height: 70px;
    box-shadow: none;
    opacity: 0.8;
}
.btn-left:hover{
    width: 200px;
    transition: all 0.7s ease-in;
    
}
.scrislogo {
    width: 300px;
    margin-left: 30px;
}

.discordm {
    margin-right: 80px;
    width: 100px;
    height: 100px;
}

.container{
    position: relative; 
}
.centru{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butoanejos{
    display: flex;
    justify-content: center;
    width: 330px;
    height: 84px;
}

.primulbuton , .aldoileabuton{
    position: relative;
    z-index: 10;
}

.primulbuton{
    right: 15px;
}
.aldoileabuton{
    left: 15px
}

.regulations {
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    top: 0px;
    width: 120px;
    background-color: white;
    position: absolute;
    z-index: -1;
    
}

.btn-style:hover .regulations {
    transition: all 0.5s ease-in-out;
    top: -75px;
}

.bagmoney {
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
    top: 0px;
    position: absolute;
    z-index: -1;
}

.btn-style:hover .bagmoney {
    transition: all 0.5s ease-in-out;
    top: -75px;
}

@media screen and (max-width:767px){
    .scrislogo{
        width:180px;
        margin-left: 15px;
    }
    .discordm{
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    .pozalogo{
        width: 250px;
        height: 250px;
    }
    .btn-style{
        width: 140px;
        height: 50px;
        font-size: 14px;
    }
    .butoanejos{
        width: 300px;
    }
    .regulations{
        width:30px;
        margin-top: 65px;
        top: -50px;
    }
    .bagmoney{
        width:45px;
        margin-top: 63px;
        top: -50px;
    }
    .btn-left{
        width: 40px;
    }
    .btn-left:hover{
        width: 100px;
    }
    .btn-right{
        width: 40px;
    }
    .btn-right:hover{
        width: 100px;
    }
    .btnwall{
        top: 60px;
    }
    html,body{
        background: url(./logos/los-santos-gta-v-city-view-92.jpg) no-repeat center
    center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}
